<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>Hello from Rails! Woo woo HackerYou</p>
<p>
	The time is now <%= Time.now %>
</p>

<%= link_to "Goodbye", say_goodbye_path %>
<%= 1.hour.from_now.localtime %>